{:deps
 {org.clojure/clojure {:mvn/version "1.10.0"}
  com.hypirion/clj-xchart {:mvn/version "0.2.0"}
  org.apache.mxnet.contrib.clojure/clojure-mxnet-linux-cpu  {:mvn/version "1.4.0"}
  nu.pattern/opencv {:mvn/version "2.4.9-7"}
  org.clojure/tools.deps.alpha
  {:git/url "https://github.com/clojure/tools.deps.alpha.git"
   :sha "f6c080bd0049211021ea59e516d1785b08302515"}}}
